.course-card {
    background: transparent;
    border: none;
    margin-bottom: 2rem;
}

.course-card .store-card-img-container {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    min-height: 150px;
}

.course-card .store-card-img-container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../images/wide-card-overlay.svg');
    background-size: cover;
    right: 0;
}

.course-card .card-body {
    padding: 1rem 0.3rem;
}

.course-card .card-title {
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 1.43;
    min-height: 40px;
}

.course-card .store-card-price {
    color: var(--bluegrey);
    font-size: 19px;
    margin-bottom: -4px;
}

.course-card .store-card-currency {
    color: var(--bluegrey);
    font-size: 13px;
    margin-right: 4px;
}

.course-card .download-text {
    font-size: 14px;
    color: var(--bluegrey);
}

.course-card .download-icon {
    margin-right: 4px;
}

.course-card .store-card-img-container {
    background: #1d428b;
}

.course-card .type-section {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
}

.course-card .type-text {
    font-size: 14px;
    font-weight: 100;
    color: var(--bluegrey);
    margin-right: 8px;
    margin-left: 8px;
}

.course-card .type-icon {
    align-self: flex-end;
    margin-bottom: 1px;
}

.course-card-title-column {
    max-width: 66.6667%;
    flex: 0 0 66.6667%;
}

.course-card-price-column {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
}

@media (max-width: 1700px) {
    .course-card .card-title {
        font-size: 14px;
    }

    .course-card .store-card-price {
        font-size: 15px;
    }

    .course-card .store-card-currency {
        font-size: 12px;
    }

    .course-card-price-column {
        order: 1;
    }

    .course-card .card-title {
        margin-bottom: -10px;
    }

    .course-card-title-column, .course-card-price-column {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (max-width: 1400px) {
    .course-card .store-card-img-container {
        min-height: 100px;
    }
}

@media (max-width: 992px) {
    .course-card .card-title {
        margin-bottom: initial;
    }

    .course-card-title-column {
        max-width: 66.6667%;
        flex: 0 0 66.6667%;
    }

    .course-card-price-column {
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
    }

    .course-card-price-column {
        order: initial;
        margin-bottom: 6px;
    }
}

@media (max-width: 768px) {
    .course-card .store-card-currency {
        font-size: 7px;
    }

    .course-card .store-card-price {
        font-size: 12px;
    }

    .course-card .card-title {
        font-size: 12px;
    }

    .course-card .store-card-img-container:before {
        height: 101%;
    }

    .course-card {
        margin-bottom: .5rem;
    }
}