.navbar-container .nav-item a {
    font-weight: 500;
    color: var(--bluegrey);
    font-size: 18px;
    cursor: pointer;
    transition: .3s all;
}

.navbar-container .nav-item a:hover {
    color: var(--bluegrey);
}

.mic-icon-container, .wifi-icon-container, .camera-icon-container {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16);
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mic-icon-container {
    border: solid 3px #1dd950;
}

.camera-icon-container {
    border: solid 3px #e21956;
}

.wifi-icon-container {
    border: solid 3px #e28519;
}

.navbar-container .navbar-item {
    display: flex;
}

.navbar-container .navbar-item .navbar-item-text {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.navbar-container .navbar-item h5 {
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 0;
}

.navbar-container .navbar-item p {
    color: #a7b5d2;
    font-size: 14px;
    margin-bottom: 0;
}

.navbar-items-col {
    padding: 1.5rem 0 1.5rem 6rem;
    background-image: #153064, var(--dark-slate-blue) 90%, linear-gradient(80deg,var(--dark-slate-blue-two) 11%);
}

.navbar-links-col {
    padding-right: 66px;
    justify-content: flex-end;
}

.navbar-container .nav-item {
    position: relative;
}

.navbar-container .nav-item.active:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 25px;
    height: 2px;
    background: #fff;
    right: 12%;
    transition: .3s all;
}

.navbar-container .nav-item.active a {
    color: #fff;
}

.menu-arrow {
    margin-left: 8px;
    transition: .3s all;
}

.navbar-container .top-nav {
    justify-content: flex-end;
}

.main-menu-row {
    display: flex;
    flex-wrap: wrap;
}

.main-menu-column {
    max-width: 50%;
    flex:0 0 50%;
}

.mobile-overlay {
    width: 25%;
    background-image: linear-gradient(to left, rgba(28, 54, 104, 0.29), var(--dark-slate-blue-two));
    display: none;
}

@media (min-width: 1700px) {
    .nav-column {
        width: 25%;
    }
}

@media (max-width: 1700px) {
    .nav-column {
        width: 33.333%;
    }

    .navbar-container .nav-item a {
        font-size: 16px;
        padding: .5rem .5rem;
    }

    .navbar-container .navbar-item h5 {
        font-size: 14px;
    }

    .navbar-container .navbar-item p {
        font-size: 12px;
    }

    .mic-icon-container, .wifi-icon-container, .camera-icon-container {
        width: 40px;
        height: 40px;
    }

    .mic-icon-container img, .wifi-icon-container img, .camera-icon-container img {
        width: 16px;
    }
}

@media (max-width: 1400px) {
    .navbar-container .nav-item a {
        font-size: 15px;
        padding: .5rem .4rem;
    }
}

@media (max-width: 1200px) {
    .navbar-container .navbar-links-col {
        justify-content: center;
        padding: 2rem 0 2rem 0;
        background: #153064;
    }

    .main-menu-column {
        max-width: 100%;
        flex:0 0 100%;
    }

    .navbar-container .nav-item a {
        padding: .5rem 1.5rem;
    }

    .navbar-container .nav-item.active:before {
        display: none;
    }

    .nav-column {
        display: flex;
        justify-content: center;
    }

    .navbar-items-col {
        padding: 1.5rem 0 1.5rem 0;
    }
}

@media (max-width: 992px) {
    .mobile-notification-column {
        padding-right: 66px;
        padding-left: 66px;
    }

    .nav-column {
        width: initial;
    }

    .menu-icons-container {
        justify-content: center;
    }

    .mic-icon-container, .wifi-icon-container, .camera-icon-container {
        width: 50px;
        height: 50px;
    }

    .mic-icon-container img, .wifi-icon-container img, .camera-icon-container img {
        width: initial;
        margin: 0 5px;
    }

    .top-logo-text-ar {
        letter-spacing: 1.54px;
    }
}

@media (max-width: 768px) {
    .navbar-container .nav-item a {
        padding: .5rem .5rem;
        font-size: 14px;
    }

    .courses-second-menu .right-section img {
        width: 50px;
    }

    .top-logo-text-en {
        font-size: 18px;
    }

    .top-logo-text-ar {
        font-size: 11px;
    }

    .mobile-notification-column {
        padding-right: 40px;
        padding-left: 40px;
    }

    .navbar-container .navbar-item p {
        font-size: 14px;
        letter-spacing: 1.4px;
    }
}

@media (max-width: 576px) {
    .navbar-container .navbar-links-col {
        padding: 2rem 0 0 0;
    }

    .navbar-container .nav-item a {
        white-space: nowrap;
    }

    .navbar-links-col .nav {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 85%;
        flex-wrap: inherit;
        margin-right: 30px;
        padding-bottom: 1rem;
        margin-left: auto;
        direction: rtl;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    ::-webkit-scrollbar {
        width: 0;
        background: transparent; /* make scrollbar transparent */
    }

    .mobile-overlay {
        position: absolute;
        left: 0;
        height: 50px;
        z-index: 1;
        display: block;
    }

    .courses-mobile-nav {
        direction: ltr;
    }
}