.waiting-list-menu {
    position: absolute;
    left: 4%;
    top: 100px;
    width: 180px;
}

.waiting-list-menu h2 {
    color: #1d428b;
    font-size: 20px;
    margin-right: 1rem;
    font-weight: 800;
    position: relative;
}

.waiting-list-menu h2:before {
    content: '';
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 35px;
    height: 2px;
    background: #a7b5d2;
}

.waiting-list-img-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px #e9edf0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.waiting-list-menu .waiting-list-items {
    padding: 2rem 0;
}

.waiting-list-item {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.waiting-list-item-text {
    margin-right: 10px;
}

.since-when {
    font-size: 11px;
    color: #8c9cbe;
    font-weight: 100;
}

.waiting-list-title {
    color: var(--dark-slate-blue-two);
    font-size: 16px;
    font-weight: 900;
}

@media (max-width: 1700px) {
    .waiting-list-menu {
        left: 2%;
    }
}

@media (max-width: 1400px) {
    .waiting-list-menu {
        left: 4%;
    }
}

@media (max-width: 992px) {
    .waiting-list-menu {
        left: initial;
        right: 4%;
    }

    .waiting-list-menu .waiting-list-menu-title {
        transform: translateY(-5rem);
    }

    .waiting-list-menu h2 {
        font-size: 16px;
    }

    .waiting-list-menu-title svg {
        position: absolute;
        font-size: 12px;
        left: 1rem;
        top: 0.1rem;
    }

    .waiting-list-menu h2:before {
        display: none;
    }

    .waiting-list-menu .waiting-list-items {
        padding: 0;
    }

    .waiting-list-img-container {
        width: 40px;
        height: 40px;
    }

    .waiting-list-img-container img {
        width: 12px;
    }
}