.store-card {
    background: transparent;
    border: none;
    margin-bottom: 1rem;
}

.store-card .store-card-img-container {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    min-height: 150px;
}

.store-card .store-card-img-container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../images/small-images-overlay.svg');
    background-size: cover;
    opacity: .4;
    right: 0;
}

.store-card .card-body {
    padding: 1rem 0.3rem;
}

.store-card .card-title {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 1.43;
    min-height: 40px;
}

.store-card .store-card-price {
    color: var(--bluegrey);
    font-size: 19px;
}

.store-card .store-card-currency {
    color: var(--bluegrey);
    font-size: 13px;
    margin-right: 4px;
}

.store-card .download-text {
    font-size: 14px;
    color: var(--bluegrey);
}

.store-card .download-icon {
    margin-right: 4px;
}

.store-card .store-card-img-container {
    background: #1d428b;
}

.store-card .type-section {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: baseline;
}

.store-card .type-text {
    font-size: 19px;
    font-weight: 900;
    color: var(--bluegrey);
    margin-right: 8px;
}

@media (max-width: 1700px) {

    .store-card .card-title {
        font-size: 12px;
    }

    .store-card .store-card-price {
        font-size: 13px;
    }

    .store-card .store-card-currency, .store-card .download-text {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .store-card .store-card-price {
        font-size: 11px;
    }

    .store-card .store-card-currency, .store-card .download-text {
        font-size: 9px;
    }

    .store-card .card-body {
        padding: .5rem 0.3rem;
    }

    .store-card .card-title {
        font-size: 10px;
    }

    .store-card .store-card-img-container {
        min-height: 90px;
    }
}

@media (max-width: 576px) {
    .store-card .card-body {
        padding: .5rem 0;
    }

    .store-card .store-card-price {
        font-size: 10px;
    }

    .store-card .store-card-currency, .store-card .download-text {
        font-size: 8px;
    }

    .store-card .store-card-currency {
        margin-right: 1px;
    }

    .store-card .download-icon {
        width: 14px;
        margin-right: 2px;
        margin-top: 5px;
    }

    .store-card .type-text {
        font-size: 13px;
    }

    .store-card .card-title {
        margin-bottom: -15px;
    }
}
