.courses-top-menu {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.courses-top-menu .waiting-list-title {
    color: #1d428b;
    font-size: 20px;
    font-weight: 800;
    display: inline;
    margin-bottom: 0;
    margin-right: 1rem;
    opacity: 1;
    visibility: visible;
    transition: .5s all;
}

.site-full-container.slide .courses-top-menu .waiting-list-title {
    opacity: 0;
    visibility: hidden;
}

.courses-top-menu .right-section {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.courses-top-menu .back-button {
    display: inline-flex;
    align-items: center;
    transition: .5s all;
}

.courses-top-menu .back-button img {
    transition: .5s all;
}

.site-full-container.slide .courses-top-menu .back-button img {
    transform: rotate(180deg);
}

.site-full-container.slide .courses-top-menu .back-button {
    transform: translateX(-12rem);
}

.courses-top-menu .back-button img {
    width: 17px;
}

.courses-top-menu .left-section .notification-icon {
    width: 26px;
}

.courses-top-menu .left-section {
    display: flex;
    align-items: center;
}

.courses-top-menu .left-section .user-icon-container {
    object-fit: contain;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #a7b5d2;
    background-color: #e9edf0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
}

.courses-top-menu .left-section .user-icon-container img {
    width: 27px;
}

.courses-top-menu .left-section .menu-text {
    font-weight: 900;
    font-size: 16px;
    margin-right: 1rem;
}

.courses-top-menu .left-section .menu-name {
    font-weight: 800;
    font-size: 19px;
}

.courses-second-menu-container {
    background: var(--dark-slate-blue-three);
    opacity: .97;
}

.courses-second-menu {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.courses-second-menu .right-section, .courses-second-menu .left-section {
    display: flex;
    align-items: center;
}

.courses-second-menu .top-logo-text {
    margin-left: 1rem;
}

.courses-second-menu .top-logo-text h5 {
    margin-bottom: 4px;
}

.top-logo-text-en {
    font-size: 27px;
}

.top-logo-text-ar {
    font-size: 16px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 2.5px;
    font-stretch: normal;
}

.second-bar-container .left-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.second-bar-container .left-section > img, .second-bar-container .left-section > div {
    margin-left: 1rem;
}

.second-bar-container .left-section .top-profile-img {
    width: 64px;
    align-self: flex-start;
    margin-top: -.5rem;
    cursor: pointer;
}

.top-home-icon {
    align-self: flex-start;
    margin-top: 0.7rem;
    cursor: pointer;
}

.user-top-details {
    color: #fff;
}

.user-top-details p {
    color: #a7b5d2;
}

.second-bar-container .left-section button {
    padding: 1px 14px 4px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background-image: linear-gradient(121deg, #e83866 -28%, #e83866 -21%, #e57a3c 55%, #e57a3c 75%);
}

.user-top-details h5 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 3px;
}

.user-top-details p {
    font-size: 13px;
    margin-bottom: 2px;
    display: inline;
}

.user-top-details .semi-title {
    font-size: 20px;
    font-weight: 900;
}

.top-rate-text {
    margin-right: 5px;
    cursor: pointer;
}

.user-top-details img {
    margin: 0 1px;
}

.second-bar-container {
    background-image: linear-gradient(80deg, var(--dark-slate-blue) 11%, var(--dark-slate-blue-two) 95%);
}

.mobile-navbar {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 4;
    transform: translateX(-100%);
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .4s all;
}

.mobile-nav-link-text {
    margin: 3rem 0;
    font-size: 17px;
    font-weight: 400;
    color: #1d428b;
}

.mobile-nav-link-text.expert-join {
    font-weight: 800;
}

.mobile-nav-link-text.home-link {
    font-weight: 900;
}

.mobile-navbar.show {
    transform: translateX(0);
}

.close-mobile-navbar {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    font-size: 20px;
    display: none;
}

@media (max-width: 1700px) {
    .courses-top-menu .left-section .menu-text {
        font-size: 14px;
    }

    .courses-top-menu .left-section .menu-name {
        font-size: 16px;
    }

    .courses-top-menu .waiting-list-title {
        font-size: 18px;
    }

    .user-top-details h5 {
        font-size: 16px;
    }

    .user-top-details .semi-title {
        font-size: 18px;
    }

    .user-top-details div {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }

    .top-logo-text-en {
        font-size: 24px;
    }

    .top-logo-text-ar {
        letter-spacing: initial;
    }
}

@media (max-width: 992px) {
    .mobile-notification .user-icon-container {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
        border: solid 2px #a7b5d2;
        margin-right: 1rem;
        background-color: #e9edf0;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .close-mobile-navbar {
        display: block;
    }

    .mobile-navbar {
        display: flex;
    }

    .courses-second-menu-container {
        background: transparent;
    }

    .courses-second-menu {
        padding: 0;
    }

    .mobile-notification-column {
        padding-bottom: 2rem;
        padding-top: 2rem;
        background-color: var(--dark-slate-blue-three);
    }

    .second-bar-container .left-section {
        padding-right: 30px;
    }

    .mobile-menu-details-column {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .courses-top-menu .left-section, .courses-top-menu .back-button {
        display: none;
    }

    .courses-top-menu .waiting-list-title {
        margin-right: 0;
    }

    .courses-top-menu.courses-container-fluid {
        padding-right: 50px;
        padding-left: 50px;
    }

    .courses-top-menu .waiting-list-title {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .courses-top-menu.courses-container-fluid {
        padding-right: 30px;
        padding-left: 30px;
    }

    .second-bar-container .left-section {
        padding-right: 20px;
        padding-left: 20px;
    }

    .second-bar-container .left-section .top-profile-img {
        align-self: center;
    }

    .second-bar-container .left-section button {
        font-size: 9px;
        padding: 4px 14px 4px;
    }

    .user-top-details h5, .top-rate-text {
        font-size: 11px;
    }

    .user-top-details .semi-title {
        font-size: 15px;
    }

    .mobile-menu-details-column {
        padding: 1.5rem 0;
    }
}

@media (max-width: 576px) {
    .second-bar-container .left-section {
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    .second-bar-container .left-section button {
        padding: 6px 4px;
    }
}

@media (max-width: 400px) {
    .second-bar-container .left-section button {
        padding: 6px 2px;
        font-size: 8px;
    }

    .second-bar-container .left-section > img, .second-bar-container .left-section > div {
        margin-left: 0.5rem;
    }
}