.course-description-title {
    color: #fff;
    font-size: 29px;
    font-weight: 800;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
}

.home-video .vjs-poster, .home-video .video-js {
    background-size: cover;
}

.course-details-side-title {
    font-size: 25px;
    font-weight: 800;
    color: #a7b5d2;
    margin-top: 2rem;
}

.course-details-side-container {
    margin-top: 3rem;
}

@media (max-width: 1700px) {
    .course-description-title {
        font-size: 24px;
        margin-bottom: .5rem;
    }
}

@media (max-width: 1200px) {
    .course-details-side-title {
        font-size: 15px;
        margin-right: 3rem;
    }
}