.home-experiences-title {
    color: #fff;
    font-size: 21px;
    font-weight: 800;
    margin-top: 2rem;
    margin-right: 2rem;
}

.home-tag {
    background: var(--dark-slate-blue-four);
    color: #a7b5d2;
    font-size: 14px;
    margin: 5px 4px 5px;
    font-weight: 100;
    padding: 9px 19px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .3s all;
}

.home-tag:hover {
    border: 1px solid;
    color: #fff;
}

.home-experiences-tags {
    direction: rtl;
}

@media (max-width: 1200px) {
    .home-experiences-tags {
        margin-left: 2rem;
        margin-right: 2rem
    }
}

@media (max-width: 576px) {
    .home-tag {
        font-size: 11px;
        padding: 9px 12px;
    }
}