.loader-container {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container .loader-icon {
    font-size: 5px;
    text-indent: -9999em;
    overflow: hidden;
    border: 2.9em solid hsl(0deg 0% 100% / 10%);
    border-left-color: var(--dark-slate-blue-three);
    animation: loadingSpinner 1.1s linear infinite;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

@keyframes loadingSpinner {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}