.home-video {
    position: relative;
    height: 605px;
    width: 98%;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
}

.home-video:focus {
    outline: none;
}

.home-video .video-js {
    height: 100%;
    width: 100%;
}

.home-video .video-js .vjs-text-track-display div {
    margin: 0 !important;
}

.home-video .vjs-poster, .home-video .video-js {
    background: transparent;
    display: flex;
    align-items: center;
}

.home-video .video-js.vjs-has-started {
    background: #000;
}

.home-video .vjs-control-bar {
    background: transparent;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
}

.home-video .video-js .vjs-load-progress div {
    background: #fff;
    opacity: .6;
}

.home-video .vjs-play-control {
    border: 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px
}

.home-video .vjs-play-control > span:before {
    top: -2px;
}

.home-video .video-js .vjs-picture-in-picture-control {
    display: none;
}

.video-caption-title {
    position: absolute;
    z-index: 1;
    right: 4rem;
    pointer-events: none;
    color: #fff;
    bottom: 5rem;
    font-size: 29px;
    font-weight: 500;
    line-height: 1.55;
    opacity: 0;
    transition: .3s all;
}

.video-caption-title.show {
    opacity: 1;
}

.vjs-has-started .vjs-poster {
    display: none;
}

.home-video .vjs-poster:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../images/video-overlay.svg');
    z-index: 2;
    border-radius: 5px;
    pointer-events: none;
    background-size: cover;
    left: 0;
    right: 0;
    opacity: .7;
    margin: auto;
}

.home-video .vjs-big-play-button {
    position: relative;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: transparent;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vjs-controls-disabled .vjs-big-play-button, .vjs-has-started .vjs-big-play-button, .vjs-using-native-controls .vjs-big-play-button, .vjs-error .vjs-big-play-button {
    display: none;
}

.home-video .vjs-big-play-button span:before {
    position: relative !important;
}

.home-video .home-video-title {
    position: absolute;
    z-index: 1;
    right: 4rem;
    bottom: 5rem;
    font-size: 29px;
    font-weight: 500;
    width: 25%;
    line-height: 1.55;
}

.home-video .home-video-title.showed {
    display: block;
}

.home-video .vjs-tech {
    opacity: 0;
}

.vjs-has-started .vjs-tech {
    opacity: 1;
}

@media (min-width: 1700px) {
    .video-caption-title {
        width: 30%;
    }
}

@media (max-width: 1700px) {
    .video-caption-title {
        width: 50%;
    }

    .home-video {
        height: 520px;
    }
}

@media (max-width: 1200px) {
    .home-video {
        width: 100%;
    }

    .home-video .vjs-poster, .home-video .video-js {
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 992px) {
    .home-video {
        height: 350px;
    }

    .video-caption-title {
        bottom: 2rem;
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .home-video {
        height: 280px;
    }

    .video-caption-title {
        right: 2rem;
        font-size: 14px;
    }
}