.doc-player {
    width: 100%;
    height: 600px;
    background: #1d428b url('../../../images/doc-player-bg.svg');
    background-size: cover;
    border-radius: 5px;
    padding: 50px;
    position: relative;
}

.doc-player .download-section-text {
    color: #fff;
    font-size: 16px;
    font-weight: 900;
}

.download-section-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    margin-right: 15px;
    background: url('../../../images/cart-orange-bg.svg') no-repeat;
    background-size: contain;

}

.download-section {
    display: flex;
    align-items: center;
}

.doc-player-bottom {
    position: absolute;
    bottom: 70px;
    width: calc(100% - 100px);
}

.doc-player-bottom .type-title {
    color: var(--bluegrey);
    font-size: 25px;
    font-weight: 900;
}

.doc-player-bottom .type-icon {
    width: 32px;
    margin-left: 10px;
}

.doc-player-bottom h5 {
    font-size: 29px;
    font-weight: 500;
    line-height: 1.55;
    color: #fff;
}

.doc-player-bottom .store-card-price {
    color: var(--bluegrey);
    font-size: 24px;
}

.doc-player-bottom .store-card-currency {
    color: var(--bluegrey);
    font-size: 16px;
    margin-right: 4px;
}

.doc-player-bottom .download-icon {
    width: 27px;
    margin-right: 10px;
}

.doc-player-bottom .download-text {
    color: var(--bluegrey);
    font-size: 21px;
}

@media (max-width: 768px) {
    .doc-player-bottom h5, .doc-player .download-section-text {
        font-size: 14px;
    }

    .doc-player-bottom .type-title, .doc-player-bottom .store-card-price {
        font-size: 15px;
    }

    .doc-player-bottom .store-card-currency {
        font-size: 10px;
    }

    .doc-player-bottom .download-icon {
        width: 21px;
    }

    .doc-player-bottom .download-text {
        font-size: 16px;
    }

    .doc-player-bottom {
        width: calc(100% - 30px);
    }

    .doc-player {
        height: 400px;
        padding: 30px;
    }
}