@font-face {
    font-family: 'LoewNextArabic';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: url('./fonts/Loew-Next-Arabic-Regular.otf')
}

@font-face {
    font-family: 'LoewNextArabic';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url('./fonts/Loew-Next-Arabic-Regular.otf')
}

@font-face {
    font-family: 'LoewNextArabic';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('./fonts/Loew-Next-Arabic-Regular.otf')
}

@font-face {
    font-family: 'LoewNextArabic';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('./fonts/Loew-Next-Arabic-Medium.otf')
}

@font-face {
    font-family: 'LoewNextArabic';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('./fonts/Loew-Next-Arabic-Medium.otf')
}

@font-face {
    font-family: 'LoewNextArabic';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('./fonts/Loew-Next-Arabic-Medium.otf')
}

@font-face {
    font-family: 'LoewNextArabic';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('./fonts/Loew-Next-Arabic-ExtraBold.otf')
}

@font-face {
    font-family: 'LoewNextArabic';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url('./fonts/Loew-Next-Arabic-ExtraBold.otf')
}

@font-face {
    font-family: 'LoewNextArabic';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url('./fonts/Loew-Next-Arabic-Bold.otf')
}

:root {
    --dark-slate-blue: #254176;
    --dark-slate-blue-three: #1f3a6e;
    --bluegrey: #8191b2;
    --denim-blue: #375798;
    --light-navy-blue: #2a4986;
    --dark-slate-blue-four: #223c6e;
    --dusk-blue: #24417b;
    --cobalt-two: #193b7e;
    --dark-slate-blue-two: #1c3668;
}

html {
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'LoewNextArabic', sans-serif;
    color: var(--dark-slate-blue-two);
    font-size: 1.6rem;
    text-align: right;
    overflow-x: hidden;
    height: 100%;
}

#root {
    height: 100%;
    background: #fff;
}

.site-full-container {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .5s all;
}

.site-full-container.slide {
    transform: scaleX(0.835) translateX(10%);
}

.site-full-container .layout-container {
    /*height: 100%;*/
    background: #153064;
    overflow-x: hidden;
    box-shadow: -32px 60px 33px 0 rgb(29 66 139 / 51%);
    transition: .5s all;
}

.site-full-container.slide .layout-container {
    border-radius: 40px;
}

.courses-container-fluid {
    padding-right: 66px;
    padding-left: 66px;
}

.main-container {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

select:focus, input:focus {
    outline: 0;
}

a:hover {
    text-decoration: none;
}

button:focus, .btn.focus, .btn:focus {
    outline: none;
    box-shadow: none;
}

.home-main-video {
    width: 100%;
    border-radius: 5px;
}

.home-sided-text-container {
    background: var(--light-navy-blue);
    padding: 3rem 2rem;
    border-radius: 5px;
    box-shadow: 0 5px 86px 0 rgba(0, 0, 0, 0.05);
}

.home-sided-text-container p {
    color: #fff;
    font-size: 20px;
    padding-right: 2rem;
    padding-left: 2rem;
    line-height: 1.7;
    font-weight: 100;
}

.home-video-col {
    max-width: 62%;
    flex: 0 0 62%;
    padding: 0 15px;
    position: relative;
}

.home-details-col {
    max-width: 38%;
    flex: 0 0 38%;
    padding: 0 15px;
}

.fadein-container {
    opacity: 1 !important;
    animation: fadeinContainer 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeinContainer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1700px) {
    .home-sided-text-container p {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 16px;
    }

    .home-sided-text-container {
        padding: 1rem 1rem;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .home-details-col > .row > .col-sm-4 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

@media (max-width: 1400px) {
    .site-full-container.slide {
        transform: scaleX(0.8) translateX(13%);
    }
}

@media (max-width: 1200px) {
    .site-full-container.slide {
        transform: translateX(25%);
    }

    .home-video-col, .home-details-col {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .main-container {
        padding: 0 0 3rem 0;
    }

    .home-sided-text-container {
        padding: 40px 30px 40px 29px;
    }

    .home-sided-text-container p {
        padding: 0;
    }

    .courses-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .other-videos-row {
        margin: 2rem 2rem 0 2rem
    }
}

@media (max-width: 992px) {
    .site-full-container .layout-container {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .site-full-container.slide {
        transform: translateX(-25%);
    }

}

@media (max-width: 768px) {
    .site-full-container.slide {
        transform: translateX(-40%);
    }
}

@media (max-width: 480px) {
    .site-full-container.slide {
        transform: translateX(-60%);
    }
}
